*{  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    color: rgb(164, 5, 238) ;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.399);
    margin-bottom: 20%;
}
menu{
    display: inline;
    text-align: center;
   
}
#itens-ul{
    display: flex;
}
.ul-li,a{
   color: rgb(164, 5, 238) ;
    text-decoration: none;
    list-style-type: none;
    margin: 70px;
}
#Containe-cards{
    width: 100%;
    display: grid;
    background-color: rgb(255, 255, 255);
}
.cards{
    background-color: rgb(1, 9, 55);
    border: solid 1px purple;
    margin: auto;
    color: aliceblue;
    width: 70%;
    height: 500px;
}
.cards-img{
    width: 50%;
}
