*{  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
      background-color: rgb(35, 35, 35);
}
header{
    display: flex;
    height: 100px;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.399);
    margin-bottom: 20%;
    position: relative;
}
.logo{
    border-radius: 100%;
}
nav{
    display: inline;
    text-align: center;
    border-bottom: solid 2px #8A00FF;
  
   
}
#itens-ul{
     top: 50%;
    display: flex;
}
.ul-li,a{
   color: rgb(9, 202, 89);
   font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    margin: 50px;
}
#Containe-cards{
    width: 100%;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr)); 
     background-color: rgb(35, 35, 35);
}
#Containe-cards-2{
    background-color: rgb(32, 31, 32);
    display: grid;
}
div{
    background-color: rgb(0, 0, 0);
    margin: 5px;
    padding: 40px;
    width: 80%;
    height: 200px;
    line-height: 50px;
    gap: 0px;
     transition: transform 0.3s ease;
    
    
}

div-h2{
color: aqua;
}
div:hover{
    text-decoration: underline;
  color: rgb(9, 202, 89);
   transform: scale(1.05);
   box-shadow: 1px 3px 3px 1px  rgba(0, 0, 0, 0.403);
}
.card-destaque{
    width: 50%;
    height: 415px;
   display: grid;
}

.card-1{
    text-align: center;
    margin-top: 2%;
    grid-column: 1/-1;
    height: 300px;
    width: 89%;
    background-image:url(../Imagens/Resident_Evil_Requiem_Art.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
}
.card-2{
    background-image:url(../Imagens/Stellar-Blade-1.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
   background-color: rgb(31, 111, 181);

}
.art-txt-destaque{
  width: 90vw;
    position: relative;
    bottom: 47%;
    background-color: rgb(35, 35, 35);
     color: rgb(9, 202, 89);
}
.art-txt{
     background-color: rgba(21, 187, 29, 0);
     width: 38vw;
     padding: 10px;
     color: rgb(9, 202, 89);
     background-color: rgb(35, 35, 35);
    position: relative;
     top: 240px;
     right: 40px;

}
.art-txt-2{
    background-color: #32d1f9c7;
    width: 100%;
    text-align: left;
   
 
}

.art-txt:hover{
    text-decoration: underline;
}
.card-3{
    background-image:url(../Imagens/gta\ 6.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
  
   
}
.card-4{
   margin-top: 15%;
    background-image:url(../Imagens/nitendo\ swich\ 2.webp) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
}
.card-5{
      margin-top: 15%;
    background-image:url(../Imagens/Resident_Evil_Requiem_Art.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
    

}
.card-6{
    margin-top: 50%;
    position: absolute;
     width: 15%;
    background-image:url(../Imagens/Resident_Evil_Requiem_Art.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
}
.card-7{
     width: 15%;
     margin-top: 50%;
    background-image:url(../Imagens/Resident_Evil_Requiem_Art.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
}
.card-8{
    width: 15%;
    background-image:url(../Imagens/Resident_Evil_Requiem_Art.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;

}
.card-9{
     width: 15%;
    background-image:url(../Imagens/Resident_Evil_Requiem_Art.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
}
.card-10{
     width: 15%;
    background-image:url(../Imagens/Resident_Evil_Requiem_Art.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
}
.card-11{
     width: 15%;
    background-image:url(../Imagens/Resident_Evil_Requiem_Art.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
}


